// @import "normalize.css";
@import './fonts.scss';
@import "./variable.scss";

body {
  margin: 0;
  font-family: 'FuturaLite', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background: $main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  &:hover, &:focus{
    outline: none;
  }
}
