
// colors
$main: #141414;
$text: #fefefe;
$yellow: #E8B601; 
$mainViolet: #6F55EC;
$contrast: darken($main, 10%);



// fonts
$fontLight: Futura, 'sans-serif'; 
$font: Futura, 'sans-serif';


// main
$mobileWidth: 768px;
$marginContainer: 5vw;
$marginContent: 10vw;